<ul>
    <li>В год — {{ data.year|number_format(0, '.', ' ') }}</li>
    <li>В месяц — {{ data.months|number_format(0, '.', ' ') }}</li>
    <li>В неделю — {{ data.weeks|number_format(0, '.', ' ') }}</li>
    <li>В день —{{ data.days|number_format(0, '.', ' ') }}</li>
    <li>В час —{{ data.hours|number_format(0, '.', ' ') }}</li>
</ul>
