<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title|default("Тут нужен заголовок") }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet"
          media="screen">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" rel="stylesheet" media="screen">
</head>
<body>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes"></script>

<div class="container">
    <h1>{{ title|default("Тут нужен заголовок") }}</h1>
    <hr/>
    <div class="accordion" id="accordion2">
        {% for handler in handlers %}
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2"
                       href="#{{ handler.getKey }}">
                        {{ handler.getDescription }}
                    </a>
                </div>
                <div id="{{ handler.getKey }}" class="accordion-body collapse">
                    <div class="accordion-inner">
                        {% include "handlers/" ~ handler.getTemplate
                            ignore missing
                            with {'description': handler.getDescription, 'data': handler.getData, 'templateKey': handler.getKey }
                            only %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
</body>
</html>
